<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenuLeft()"></button>
  </ion-nav-buttons>        
  <ion-content padding="true">
   	<div class = "row" ng-repeat="vendor in vendors">
	   <div class = "col col-20"></div>
	   <div class = "col col-60">
	   		<div class="box vendors-box" style="background-image: url({{vendor.file}});">
	   			<div class="multilier-icon">{{vendor.multiplier}}x</div>
	   		</div>
	   </div>
	   <div class = "col col-20"></div>
	</div>
  </ion-content>
</ion-view>
