<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()" name="loginFrm" novalidate>
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="loginData.email" name="mobile"  placeholder="Enter Mobile Number..." maxlength="10" required>
        </label>
        <p ng-show="loginFrm.mobile.$invalid && !loginFrm.mobile.$pristine" class="help-block red-text">Please enter mobile number</p>
        <label class="item item-input">
          <input type="password" ng-model="loginData.password" name="pin" autocomplete="off" placeholder="Enter Pin..." maxlength="5" required>
        </label>
        <p ng-show="loginFrm.pin.$invalid && !loginFrm.pin.$pristine" autocomplete="off" class="help-block red-text">Please enter pin</p>
        <label class="item">
          <button ng-disabled="loginFrm.$invalid" class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <div>
      <a ui-sref="forget-pin">Forgot Pin</a>
      <span>Not a user</span> <a ui-sref="register">Register</a>
    </div>
  </ion-content>
</ion-modal-view>
