<ion-view title="Sessions">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenuLeft()"></button>
  </ion-nav-buttons>        
  <ion-content padding="true">
   <div class="row">
   		<div class="col col-10"></div>
   		<div class="col col-80">
   			<div class="row">
   				<div class="col col-50"><span><b>Vendor</b></span></div>
   				<div class="col col-50"><span><b>Start Time</b></span></div>
   			</div>
   		</div>
   		<div class="col col-10"></div>
   	</div>
   	<div class="row noSession">
   		<div class="col col-10"></div>
   		<div class="col col-80">
   			<div class="box padding-1em">
				<span>No Active Session</span>
			</div>
   		</div>
   		<div class="col col-10"></div>
   	</div>
   	<div class=" table">
   		
   	</div>
   	
  </ion-content>
</ion-view>
