<ion-view title="Signout">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenuLeft()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" style="text-align: center;">
        <h1>Signout</h1>
        <p>Are you sure want to log out ?</p>
        <button class="button button-block button-positive" ng-click="signOut()">Sign Out</button>
        <a><button class="button button-block button-assertive" ng-click="backToHome()">Cancel</button></a>
    </ion-content>
</ion-view>
